@using RentalProperties.Data.Models
@model AddNewPropertyInputModel


<form method="post" class="col-md-6" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="PropertyType">Type</label>
        <select asp-for="PropertyType" class="form-control" asp-items="@Html.GetEnumSelectList<PropertyType>()">
        </select>
        <span asp-validation-for="PropertyType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Location">Location</label>
        <input asp-for="Location" class="form-control" />
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Images">Image</label>
        <input asp-for="Images" class="form-control">
        <span asp-validation-for="Images" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Description</label>
        <textarea rows="4"  asp-for="Description" class="form-control" class="form-control" placeholder="description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
  @*  <div class="form-group">
        <label asp-for="GenerID">Book Gener</label>
        <select asp-for="GenerID">
            @foreach (var gener in Model.Geners)
            {
                <option value="@gener.Id">@gener.Name</option>
            }
        </select>
    </div>*@
@*    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
*@
   <input type="submit" class="btn btn-primary"/>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}
